.stopwatch {
    height: 500px;
    width: 500px;
    background-color: #f08833;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 100%;
    border-style: double;
}


